* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 16px 24px;
}

.header-wrapper > .logo {
    width: auto;
    height: 40px;
}

.logo {
    margin-bottom: 14px;
}

header h1 {
    font-size: 2rem;
    margin-left: 20px;
    float: left;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 80px 0;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}


/*Section Myprofile*/
.myprofile-img {
    flex: 1;
    text-align: center;
}

.myprofile-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.myprofile-info {
    flex: 2;
    padding-left: 20px;
}

.myprofile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.myprofile-info p {
    margin-bottom: 8px;
    font-size: 16px;
}

.myprofile-info strong {
    font-weight: bold;
}

/* Section Portfolio */
.portfolio-container{
    height: auto;
    margin: 40px 0;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.portfolio-container h2{
    color: var(--darkGray);
    font-weight: 700;
    font-size: 30px;
    width: 360px;
    margin: 30px 0;
}

.portfolio-gallery{   
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 0px 0px 0px 30px;
    gap: 30px;
}

.portfolio-gallery img {
    height: 200px;
    border-radius: 50%;
}

.portfolio-gallery h3{
    color: var(--gray);
    font-weight:100;
    font-size: 22px;
    margin: 30px 0;
    text-align: center;
}

/* Section Message Us */

form {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="radio"] {
    display: flex;
    margin-right: 5px;
}

input[type="date"],
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

/*Section Slideshow*/
.img-slideshow {
    width: 100%;
    }

@media only screen and (max-width: 600px) {
.header-wrapper {
flex-direction: column;
}

form-output {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
}